footer.footer
	.technology.col-md-3
		h3 Use technology
			ul
				li
					a(href="http://www.w3schools.com/html") HTML5
				li
					a(href="http://www.w3schools.com/css3") CSS3 
				li
					a(href="http://www.w3schools.com/js") JavaScript
				li
					a(href="http://www.w3schools.com/jquery") JQuery
				li
					a(href="http://www.w3schools.com/bootstrap") Bootstrap
