footer.footer
	.container
		.technology.col-xs-12.col-md-3.col-lg-3
			h3 Use technology
				ul
					li
						a(href="http://www.w3schools.com/html") HTML5
					li
						a(href="http://www.w3schools.com/css3") CSS3 
					li
						a(href="http://www.w3schools.com/js") JavaScript
					li
						a(href="http://www.w3schools.com/jquery") JQuery
					li
						a(href="http://www.w3schools.com/bootstrap") Bootstrap

		.makeup.col-xs-12.col-md-3.col-lg-3
			h3 MakeUp Example
				ul
					li
						a(href="/makeup-example/makeup-example") First MakeUp
					li
						a(href="/makeup-example/makeup-example") Second MakeUp 
					li
						a(href="/makeup-example/makeup-example") Third MakeUp 

		.contact.col-xs-12.col-md-6.col-lg-6
			h2.text-center Contact WebDesignZM
			a.phone-links.text-center(href="tel:+7-927-430-5986")
				span.glyphicon.glyphicon-earphone
				| +7-927-430-5986

