#you-form
	.col-md-8.col-sm-6.col-xs-0
	.col-md-4.col-sm-6.col-xs-12
		form(action="" method="POST" role="form")
			.form-group
				label(for="InputName") Your Name
				br
				input.class-control(type="text" name='Name' id="InputName" placeholder="Adam" required)
			.form-group
				label(for="InputEmail") Your Email
				br
				input.class-control(type="email" name='Email' id="InputEmail" placeholder="your@mail.com" required)
			.form-group
				label(for="AreaOffer") Your Offer
				br
				textarea.class-control(name='Area' rows='4')
			.form-group.col-sm-8.col-xs-12
				.captcha
					.g-recaptcha(data-sitekey='6Le9pg0UAAAAAL52aakApGSzFx6rktwGJxXhZMP7', data-size='compact')
			.form-group.col-sm-4.col-xs-12
				button.btn.btn-default(type="submit") Submit
